In [4]:
x = range(1, 6)
print(x)

range(1, 6)

In [24]:
# String
"abc12312389"
text = "Hello World" 
"hello "+"world" #menggabungkan 2 string
text * 3 #mengkali string
len(text) #menghitung jumlah karakter
text.upper() #menjadikan Upper Case
text.lower() #menjadikan Lower Case
text.swapcase() #swap Lower Menjadi upper case, etc

'hELLO wORLD'

In [29]:
# list
list = [1, 2, 3, 4, 5, "sjdhf"]

In [31]:
# mapping
{
    # format -> "key": value
    "key1": 1, 
    "key2": 2, 
    "key3": 3
}

NameError: name 'key1' is not defined



# sama
'asdakskdhkd'

# int
1245678

# float
1238.475783



# tuple
(1,2,3,4,5, "abd", 35)

# range
range (6)



# set

# boolean
True
False

In [8]:
print (4.2)
print (type(4.2))
print (4.)
print (.2)
print (.4e7)
print (.4e-3)
print (-.4e5)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.0004
-40000.0

In [ ]:
# operator / symbol
# assignment (=)
# arithmetic (+ / * - ** ^ % // )
# comparison (== != > >= < <=)
# logical (and or)

In [32]:
# expression
1 == 1

True

In [39]:
#variable
listItem = [1, 2, 3, 4, 5,8]
tupleItem = (1,2,3,4,5)
listItem[3] = "abcsd"

print(listItem[3])
len(listItem)

#packing and unpacking
(var1, var2, var3, var4, var5) = tupleItem
print (var2)

abcsd
2

In [42]:
#slicing
listItem[1:3]

[2, 3]

In [47]:
#dictionary
profile = {
    "nama": "John Cena",
    "umur": 50,
    "lokasi": "Florida"
}
#mengganti nilai
profile["umur"] = 36

#menambah key baru
profile["status"] = "menikah"

print(profile)

{'nama': 'John Cena', 'umur': 36, 'lokasi': 'Florida', 'status': 'menikah'}