In [ ]:
-- Membuat Database "p0ngc5" --
CREATE DATABASE p0ngc5;

-- Membuat table Customers dengan customer_id sebagai PRIMARY KEY --
CREATE TABLE "Customers" (
	customer_id INTEGER PRIMARY KEY,
	customer_name VARCHAR(20),
	city VARCHAR (20)
);

-- Membuat table Orders dengan order_id sebagai PRIMARY KEY, dan customer_id sebagai FOREIGN KEY --
CREATE TABLE "Orders"(
	order_id INTEGER PRIMARY KEY,
	customer_id INTEGER REFERENCES "Customers" (customer_id),
	order_date DATE,
	total_amount FLOAT
);

-- Memasukkan data kedalam tabel "Customers" --
INSERT INTO "Customers" (customer_id, customer_name, city)
	VALUES
		('1', 'John Doe', 'New York'),
		('2', 'Jane Smith', 'Los Angeles'),
		('3', 'David Johnson', 'Chicago');

-- Memasukkan data kedalam tabel "Orders" --
INSERT INTO "Orders" (order_id, customer_id, order_date, total_amount)
	VALUES
		(1,1,'2022-01-10', 100.00),
		(2,1,'2022-02-15', 150.00),
		(3,2,'2022-03-20', 200.00),
		(4,3,'2022-04-25', 50.00);

-- Query untuk  menampilkan customer_name dengan melihat jumlah duplikat, kemudian menggunakan aggregate function COUNT --
-- untuk menghitung jumlah yang duplikat, dan mengganti nama kolomnya menggunakan AS --
SELECT "Customers".customer_name,  Count("Customers".customer_name) AS total_orders FROM "Customers"
	LEFT JOIN "Orders"
	ON "Customers".customer_id = "Orders".customer_id
	GROUP BY "Customers".customer_name;