In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

driver = webdriver.Chrome()
df = pd.DataFrame()

coin_name = []
coin_price = []
coin_volume = []
coin_supply = []
for i in range (10):
    url = f"https://coinmarketcap.com/?page={i+1}"
    driver.get(url)
    scroll_pause_time= 1
    screen_height = driver.execute_script("return window.screen.height;")
    i = 1
    while True:
        driver.execute_script(f"window.scrollTo(0, {screen_height * i});")
        i += 1
        time.sleep(scroll_pause_time)
        scroll_height = driver.execute_script("return document.body.scrollHeight;")
        if screen_height * i > scroll_height:
            break


    html = driver.page_source

    soup = BeautifulSoup(html, "html.parser")
    #print(soup.prettify())

    result = soup.find('tbody')

    #print (result)
    #Method 1
    

    for data in result:
        #print (result)
        c_name = data.find("p", {'class':'sc-71024e3e-0 ehyBa-d'})
        if c_name != None:        
            coin_name.append (c_name.get_text())
        else:
            coin_name.append(None)
        
        c_price = data.find("div", {'class':'sc-b3fc6b7-0 dzgUIj'})
        if c_price != None:
            coin_price.append (c_price.get_text())
        else:
            coin_price.append (None)

        c_volume = data.find("p", {'class':'sc-71024e3e-0 bbHOdE font_weight_500'})
        if c_volume != None:
            coin_volume.append (c_volume.get_text())
        else:
            coin_volume.append(None)

        c_supply = data.find("p", {'class':'sc-71024e3e-0 hhmVNu'})
        if c_supply != None:
            coin_supply.append (c_supply.get_text())
        else:
            coin_supply.append(None)
    
    

    #df['coin_name'] = [coin_name.get_text() for coin_name in i.find("p", {'class':'sc-71024e3e-0 ehyBa-d'})]

df['coin_name'] = coin_name
df['coin_price'] = coin_price
df['coin_volume'] = coin_volume
df['coin_supply'] = coin_supply

df

       coin_name  coin_price      coin_volume           coin_supply
0        Bitcoin  $63,033.54  $50,030,121,060        19,756,143 BTC
1       Ethereum   $2,434.49  $21,661,234,426       120,345,066 ETH
2         Tether       $1.00  $76,946,717,594  118,891,598,050 USDT
3            BNB     $564.47   $1,914,816,344       145,933,781 BNB
4         Solana     $140.28   $3,229,741,000       468,486,636 SOL
..           ...         ...              ...                   ...
995          OAX     $0.1407         $885,092        77,034,446 OAX
996     ParaSwap    $0.01455         $148,720       744,976,909 PSP
997   BreederDAO    $0.01647         $406,748     656,493,789 BREED
998  Minati Coin       $1.72         $858,683        6,275,000 MNTC
999    TrustSwap     $0.1073         $808,419       99,995,164 SWAP

[1000 rows x 4 columns]