In [1]:
#import package
import pandas as pd #pd sebagai alias

In [67]:
#load data
df = pd.read_csv('https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/teams.csv')

In [ ]:
#METHOD & FUNCTIONS PANDAS
#menampilkan 5 baris pertama
#paramaeter default = 5
df.head(10)

#menampilkan 5 baris terakhir
df.tail()

#return value of tuple list
df.shape

#return summary of dataframe
df.info()

#return statistics 
df.describe()

#melihat list columns
df.columns

#melihat list index
df.index

#melihat tipe data
df.dtypes

#melihat value nya true atau false, kalau kosong = True
df.isnull()

#melihat jumlah unique value
df.nunique()

#melihat frekuensi dari unique value
df.value_counts()

In [ ]:
#extract kolom
df['conference'].value_counts()

In [30]:
#SORTING
df.sort_values(by=['id','school_name'])
df.sort_values(by='school_name', axis=0)
df.sort_values(by='school_name', inplace=True)

In [ ]:
#SLICING = Accessing Columns and Rows
#mengakses kolom
df[['school_name', 'id']]
df.school_name

#mengakses rows
df.iloc[5:10]

In [ ]:
#QUERY/FILTERING
'''BOOLEAN INDEXING'''
#single condition
df[df['conference'] == 'American Athletic' ]

#multiple condition
df[
    (df['conference'] == 'American Athletic') 
    & #and atau or
    (df['school_name'] == 'Houston')
]

'''QUERY METHOD'''
df.query('conference == "American Athletic"')
df.query('conference == "American Athletic" and school_name == "Houston"')

'''ISIN METHOD'''
df[
    df['id'].isin([11,12,13,14,15])

]

'''STRING METHOD'''
df[
    df['school_name'].str.contains('B')
]
#ubah ke lowercase dulu, baru di filtering
df[
    df['school_name'].str.lower().str.contains('b')
]

'''LOC METHOD'''
#menghubah index menjadi string
#df.set_index('school_name', inplace=True)

df.loc[df.id < 5]

In [ ]:
#Menambah kolom baru
#static value = 1
df['new_col'] = 1
df
#dynamic value for new column
df['new2'] = df.id * 5
df

#new column with List for value
df['new3'] = [1,2,3] #jumlah index harus sama

In [ ]:
#MENAMBAH ROW BARU


df._append({'division': 'One','conference':'Meja Bunda', 'school_name': 'ABC'}, ignore_index=True)

In [ ]:
#MENGHAPUS KOLOM
df.drop(columns='new_col', inplace=True)

In [ ]:
'''AGGREGATION'''
#sum
df.sum()

#mean
df[['id','new2']].mean()

#mean
df[['id','new2']].median()

#mean
df[['id','new2']].mod(2)

#mean
df[['id','new2']].max()

df[['id','new2']].agg({'id':'sum', 'new2':'max'})

In [ ]:
'''GROUPING'''
df.groupby('conference')['id'].mean()

df.groupby(['conference')['id'].agg(['mean','sum','count'])

MATERI SIANG ------------------------------------------------------------------------------------------------

In [ ]:
Survey
1. nama
2. jenis kelamin
3. pekerjaan
4. gaji

In [ ]:
import pandas as pd
import numpy as np


data = {
    'Order_ID': [101, 102, 103, 103, 104],
    'Customer_Name': ['Alice', 'Bob', 'Charlie', 'Charlie', 'Eve'],
    'Product': ['Laptop, mousepad', 'Keyboard', 'Monitor', 'Monitor', 'Mouse'],
    'Quantity': ['1,2', 2, 1, 1, 1],
    'Price': ['$1000, $20', '$500', '$300', '$300', '$200'],
    'Order_date' : ['01-01-2024', '2024-02-20','2024-02-15','2024-01-16','2004-03-30']
}

df = pd.DataFrame(data)
df

In [ ]:
'''check missing value'''
df.isnull().sum()
#df.info()

In [ ]:
'''MENGHAPUS DATA NULL'''
#df.dropna()
df.drop(columns='Customer_Name')

In [ ]:
'''MENGISI VALUE KOSONG'''
df.fillna(1)
df['Quantity'].fillna(df['Quantity'].mean())

#FILL FORWARD (Mengisi dengan nilai sebelumnya)
df['Quantity'].ffill()

In [ ]:
'''HANDLING DUPLICATES'''
#cek dulu
#df.duplicated().sum()

df.drop_duplicates(subset='Quantity')

In [ ]:
'''Membuat data konsisten'''
df.Price.str.replace('$','') #tidak punya inplace
#df.Price = df.Price.str.replace('$','')

In [43]:
'''CONVERT TYPE DATA'''

df.Price = df.Price.astype('Int64')

In [ ]:
'''SPLIT VALUE'''

df.Product = df.Product.str.split(',')

In [ ]:
df.iloc[0].Product[0]

In [65]:
'''Menghubah string menjadi datetime'''
df['Order_date'] = pd.to_datetime(df['Order_date'], format='mixed') #format kalau data berbeda format
#df.info()

#df.Order_date.dt.strftime('%m-%Y-%d')

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       5 non-null      int64
 1   Customer_Name  5 non-null      object
 2   Product        5 non-null      object
 3   Quantity       5 non-null      object
 4   Price          5 non-null      object
 5   Order_date     5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 372.0+ bytes

In [ ]:
df.Order_date

In [ ]:
import pandas as pd
import numpy as np

#load data
df = pd.read_csv('https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/teams.csv')

#cleaning
df.drop_duplicates 

#handle missing value, imputation, dsb

#export data
df.to_csv('data.csv', index=False)

In [ ]:
#MEMISAHKAN DATA

In [71]:
#dataframe untuk table division
df_division = pd.DataFrame()
df_division['division'] = df['division']

0      False
1       True
2       True
3       True
4       True
       ...
247     True
248     True
249     True
250     True
251     True
Length: 252, dtype: bool

In [72]:
df_division.drop_duplicates(inplace=True)

In [1]:
df_division

NameError: name 'df_division' is not defined